.maincontainer {
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.contestbanner {
    width: 100%;
    height: auto;
}