body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
  }
  .teampadge-container {
    padding-left: 5%;
  }
  .teamname-title {
    width: 80%;
    border-bottom: 1px solid gray;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .teamname-title button {
    border: none;
  }
  .teamname-title button:hover {
    border: none;
  }
  .alarmimg {
    max-width: 20px;
    max-height: 20px;
  }
  .teamname-title p {
    padding: 20px;
  }
  
  
  section {
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
  }
  .teampage-table-title {
    display: flex;
    flex-direction: row!important;
  }
  .teampage-table {
    margin-top: 30px;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
  }
  section p {
    font-size: 16px;
    margin-bottom: 15px;
    color: #444;
  }
  
  table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  table th, table td {
    padding: 10px 15px;
    border: 1px solid #ddd;
    text-align: left;
    border: none;
  }
  
  table th {
    background-color: #d4e7ff;
    color: #2b2b2b;
  }
  
  table td {
    color: #333;
  }
  .teampage-add-button {
    display: block; /* 블록 요소로 변경 */
    padding: 5.5px;
    border: 1px solid #797979;
    border-radius: 3px;
    background-color: #ffffff;
    color: #797979;
    cursor: pointer;
    margin-left: 70%;
  }
  .teampage-add-button:hover {
    color:#4d8ae4;
    border: 1px solid #4d8ae4;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal {
    background: white;
    padding: 50px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
  }
  .modal p {
    font-size: medium;
    margin-bottom: 20px;
  }
  .modal input {
    border: 1px solid #4d8ae4;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
  }
  .modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .confirm-button,
  .cancel-button {
    padding: 10px 20px;
    cursor: pointer;
  }
  