.BD-container {
    width: 100%;
}
.BD-button {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.BD-button button {
    padding-top: 15px;
    padding-bottom: 15px;
    width:20%;
    border: 1px solid gray;
}
.BD-button button:hover {
    background-color: rgb(207, 206, 206);
}
.BD-button button.active {
    background-color: rgb(207, 206, 206);
}
.BD-content {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}
