.BD-container{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.BD-topbar {
    height: auto;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 2px solid gray;
    border-bottom: 1px solid gray;
}
.BD-title {
    display: flex;
    justify-content: center;
    width : 60%;
}
.BD-type {
    display: flex;
    justify-content: center;
    width: 15%;
}

.BD-time {
    display: flex;
    justify-content: center;
    width: 25%;
}
.BD-array {
    padding-top: 20px;
    padding-bottom: 20px;
    height :auto;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gray;
}
.BD-title-content {
    padding-left: 20px;
    width : 60%;
}
.BD-type-content {
    display: flex;
    justify-content: center;
    width: 15%;
}

.BD-time-content {
    display: flex;
    justify-content: center;
    width: 25%;
}