.portdetail-container {
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
}
.Pddetailtoptitle {
    margin-top: 10px;
    padding: 20px;
    border-bottom: 1px solid gray;
    font-size: large;
    margin-bottom: 30px;
}
.portpdf {
    display: flex;
    justify-content: center;
}
.portbutton {
    width: 90%;
    margin: 50px;
    display: flex;
    justify-content: center;
    gap:10px;
    border-radius: 10px;
}
.portbutton button {
    padding:20px;
    background-color: #9bceff;
    border-radius: 10px;
    width: 20%;
}