.W-con-container {
    display: flex;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.W-con-toptitle {
    padding: 20px;
    border-bottom: 1px solid gray;
    margin-bottom: 40px;
}
.left, .right {
    width: 50%;
    flex-direction: column!important;
    display: flex;
    box-sizing: border-box;
    align-items: flex-start;
}
.layout-LR {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.W-con-row {
    width: 100%;
    display: flex;
    gap: 20px;
  }
.W-con-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .W-con-field {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  .W-con-field textarea,
  .W-con-field label {
    width: 100%;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
  }
  
  .W-con-field input[type="text"] {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 14px;
  }
  .W-con-field input:focus {
    outline: none; 
    border: 1px solid #999; 
  }
  .W-con-field input[type="file"] {
    padding: 5px;
    font-size: 14px;
  }
  .con-pdf-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffffff;
    width: 100%;
    box-sizing: border-box;
  }
  .W-con-field textarea {
    width: 100%;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .W-con-field textarea:focus {
    outline: none; 
    border: 1px solid #999; 
  }
  .W-con-submit {
    background-color: #9dc4ff;
    color: #000000;
    padding: 15px 60px;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-self: center;
  }
  .addbutton {
    border: 1px solid #ccc;
    text-align: center;
    padding: 2px;
    width: 100%;
    margin-top: -10px;
    margin-bottom: 20px;
  }
  .W-con-row.new-field {
    margin-top: -10px;
  }
  